
@model DayLifeSure.Models.ViewModels.LinkedinViewModel
    @using Resources

<div class="container-fluid topbar px-0 px-lg-4 bg-light py-2 d-none d-lg-block">
    <div class="container">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <div class="border-end border-primary pe-3">
                        <a href="#" class="text-muted small"><i class="fas fa-map-marker-alt text-primary me-2"></i>@Lang.Location</a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border-end border-primary pe-3">
                        <a class="btn p-0 text-primary me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn p-0 text-primary me-3" href="#">
                             @Lang.Count: @Model.FollowersCount
                        </a>

                    </div>
                    <div class="dropdown ms-3">
                        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown">
                            <small>
                                @{
                                    var currentLang = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
                                    string langText = "";

                                    switch (currentLang)
                                    {
                                        case "tr":
                                            langText = "Türkçe";
                                            break;
                                        default:
                                            langText = "English";
                                            break;
                                    }
                                }
                                <i class="fas fa-globe-europe text-primary me-2"></i> @langText

                            </small>
                        </a>
                        <div class="dropdown-menu rounded">
                            <li><a class="dropdown-item" href="/Language/Change?lang=tr&returnUrl=@Request.RawUrl">Türkçe</a> </li>
                            <li>
                                <a class="dropdown-item" href="/Language/Change?lang=en&returnUrl=@Request.RawUrl">English</a>
                            </li>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
